.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  max-width: 1440px;
  margin: 40px auto;
  padding: 24px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 475px;
  padding: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #c0e5fe;
}

.div-block-2.b2 {
  background-color: #c0fee2;
  background-image: none;
}

.div-block-2.b2.green {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-2.b2.orange {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fee4c0;
}

.div-block-2.b2.purple {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c0fed2;
}

.div-block-2.b2.red {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fec0c0;
}

.heading {
  max-width: 800px;
  font-family: Nunito, sans-serif;
  color: #111;
  font-size: 64px;
  line-height: 1;
  text-align: center;
}

.heading.small {
  font-size: 32px;
  text-align: center;
}

.heading.small.med {
  font-size: 40px;
}

.heading.logo {
  color: #3471ff;
  font-size: 32px;
  font-weight: 800;
}

.text-block {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Nunito, sans-serif;
  color: rgba(17, 17, 17, 0.75);
  font-size: 20px;
}

.text-block.centered {
  line-height: 1.25;
  text-align: center;
}

.link-block {
  padding: 16px;
  border-radius: 100px;
  background-color: #fff;
  font-family: Nunito, sans-serif;
  color: #111;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.text-block-2 {
  font-family: Nunito, sans-serif;
  color: #111;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.grid {
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.grid.g2 {
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr;
  grid-template-columns: 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.g3 {
  margin-top: 32px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  max-width: 400px;
  min-height: 0px;
  min-width: 300px;
  margin-right: 8px;
  margin-bottom: 0px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 24px;
  border: 1px none #000;
  border-radius: 100px;
  font-family: Nunito, sans-serif;
  color: #111;
  font-size: 16px;
  font-weight: 600;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-message {
  border-radius: 100px;
  background-color: #8aff8e;
}

.text-block-3 {
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .grid.g3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 48px;
  }

  .text-block {
    text-align: center;
  }

  .text-field {
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .div-block-2 {
    padding: 24px;
  }

  .heading {
    font-size: 32px;
  }

  .text-block {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-field {
    margin-bottom: 8px;
  }
}

#w-node-ca697198ad33-c4daad5d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

